{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {# {% set alt = (particle.alttext) %} #}
    {% set class=(particle.class ? 'class="'~ particle.class ~'"') %}
    {% set image = url(particle.image) %}
    
    <img src="{{ url(particle.image) }}" alt="{{ particle.alttext }}" title="{{ particle.title }}" />
    <div class="contenttitle"><h3 class="center"> {{particle.contenttitle}} </h3></div>
{% endblock %}
