{% extends '@nucleus/partials/particle.html.twig' %}


{% block particle %}
	<div class="sample-content">
		<div class="g-grid">
			<div class="g-block">
				{% if particle.image %}<img src="{{ url(particle.image) }}" class="logo-large" alt="{{ particle.headline|e }}" />{% endif %}
				{% if particle.headline %}<h3>{{ particle.headline|raw }}</h3>{% endif %}
				{% if particle.description %}<div class="sample-description">{{ particle.description|raw }}</div>{% endif %}
				{% if particle.linktext %}<p><a href="{{ particle.link|e }}" class="button">{{ particle.linktext|e }}</a></p>{% endif %}
			</div>
		</div>
		<div class="g-grid" data-uk-slideset="{small: 1, medium: 3}">
			<div class="uk-slidenav-position">
				<ul class="uk-grid uk-slideset">
					{% for sample in particle.samples %}
					<li>
						<div {% if sample.id %}id="{{ sample.id|e }}"{% endif %}
							class="g-block {{ sample.class }} {{ sample.variations }} service-item">
							<div class="g-content">
								<blockquote>
								{{sample.description}}
								<cite>{{sample.person}}</cite>
								</blockquote>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				<a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
				<a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
				<ul class="uk-slideset-nav uk-dotnav uk-flex-center">...</ul>
			</div>
		</div>
	</div>
{% endblock %}