// Photogallery
ul.sigProClassic {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    li.sigProThumb {
        span.sigProLinkWrapper {
            padding: 0;
        }
    }
}

// Homepage Services
.homepageServices{
    .service-item {
    border: 1px solid;
    padding: 0.1rem;
    margin: 0.5rem;
    border-radius: 25px;
    box-shadow: 1px 2px $darkGreen;
    transition: box-shadow .5s ease-in;
    &:hover {
        box-shadow: 1px 2px $gold;
    }
    .g-content {
        padding: 0;
        margin: 0;
        h4 {
            margin: 1rem 0;
        }
    }
}
}
