// Colors
$darkGreen: #195740; //rgb 25, 87,64
$gold: #d79c3e; //rgb 215, 156, 62

// Typography
body {
    font-size: 1.1rem;
}
h1 {
    font-size: 2.5rem;
    color: $darkGreen
}
h3 {
    color: $darkGreen;
}
p {
    margin: 1rem 0;
}

%first-p {
    p:first-child {
        margin-top: 0;
    }
}