/******** Custom scss file ********/
@import "dependencies";
@import "variables";
@import "k2";
@import "slideshow";
@import "modules";


/****** Header ******/


/****** Navigation ******/
.home #g-navigation {
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);

}

#g-navigation {
    box-shadow: 0 1px 3px;
    .g-main-nav {
        margin: 1rem;
        .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active {
            background: none;
            .g-menu-item-container {
                color: inherit;
                border-bottom: 2px solid $gold;
            }
        }
        .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active.g-selected {
            background: none;
        }
        .g-dropdown {
            background: rgba(215, 156, 62, 0.8);
        }
        .g-sublevel > li {
            img {
                display: block;
                border-radius: 4px;
            }
            .g-menu-item-content {
                display: block;
                text-align: center;
                color: #fff;                
            }
            &:hover {
                .g-menu-item-content {
                    color: $gold;
                }
            }
            
        }
      
    }
    .g-content {
        padding: 0;
    }
    .gantry-logo {
        img{
            width: 95px;
        }
    }
}



/****** Showcase ******/
#g-showcase {
    padding: 0;
    .g-container {
        width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
        }
    }
}

/****** Map ******/
#g-map {
    .g-container {
        width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
        }
    }
}

/****** Feature ******/
#g-feature {
    padding: 1rem;
}

.contact {
    .sample-content {
        .sample-icons {
            color: #D79C3E;
            text-shadow: 1px 1px #195740;
            opacity: 0.9;
        }
    }
    .ba-btn-submit {
        box-shadow: 1px 1px #195740;
    }
    .terms {
        margin-bottom: 1rem;
    }
}

/****** Main ******/
#g-main {
    padding: 0;
    .imageComponent {
        position: relative;
        img {
            position: relative;
        }
        .contenttitle {
            position: absolute;
            top: 40%;
            left: 15%;
            background: rgba(215, 156, 62, 0.6);
            padding: 0 1rem;
            border-radius: 4px;
            h3 {
                font-size: 2rem;
                color: #fff;;
            }
        }
    }
}

/****** Subfeature ******/
#g-subfeature {
    .testimonials {
        blockquote {
            text-align: left;
            border-left: 1px solid rgba(25, 87, 64, 0.75);
            font-style: italic;
            margin: 0 0 1.5rem 0;
            cite {
                font-weight: bold;
                margin-top: 1rem;
                color: $darkGreen;
                &:before {
                    content: "";
                }
            }
        }
    }
}

/****** Footer ******/
#g-footer {
    a {
        color: #fff;
    }
    .g-social {
        a {
            color: $darkGreen;
        }
    }
}


/****** Contact ******/




/****** Media Queries ******/
#g-offcanvas #g-mobilemenu-container ul > li.g-menu-item-link-parent > .g-menu-item-container > .g-menu-parent-indicator {
    background: #fff;
}


// Typical values are the default breakpoints set in Gantry 5
// but these values are user definable in style settings
// so that is why the code below uses mixins to get the actual 
// values from Gantry 5 template.

// commonly used media queries

//  typically min 75rem 
@include breakpoint(large-desktop-range) {

}
// typically range 60rem to 74.938rem 
@include breakpoint(desktop-range) {

}

// typically 48rem to 59.938rem
@include breakpoint(tablet-range) {

}
// typically 30rem to 47.938rem
@include breakpoint(large-mobile-range) {

}
// typically max 30rem
@include breakpoint(small-mobile-range) {
   
}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {
    .home #g-navigation {
        position: relative;
        background: none;
    }
    #g-main  {
        .imageComponent {
            .contenttitle {
                top: 35%;
                left: 0;
                padding: 0;
                h3 {
                    font-size: 1.1rem;
                    margin: 0;
                }
            }
        }        
    }
    div.itemImageBlock {
        margin-bottom: 1rem;
    }
}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}

// Mobile Menu Breakpoint
@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) { }

@import "nucleus/mixins/breakpoints"